$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;
@media (max-width: $small-screen){
    .about-title{
        font-size: 20px;
    }
    .header-left{
        margin-top: 17px;
        h4{
            font-size: 20px;
        }
    }
}
@media (min-width: $small-screen) and (max-width: $medium-screen){
    .about-title{
        font-size: 20px;
    }
    .header-left{
        margin-top: 15px;
        h4{
            font-size: 20px;
        }
    }
}
@media (min-width: $medium-screen) and (max-width: $large-screen){
    .about-title{
        font-size: 35px;
    }
    .header-left{
        margin-top: 13px;
        h4{
            font-size: 25px;
        }
    }
}
@media (min-width: $large-screen){
    .about-title{
        font-size: 50px;
    }
    .header-left{
        margin-top: 10px;
        h4{
            font-size: 30px;
        }
    }
}
body{
    margin: 0;
    background: url(http://salehriaz.com/404Page/img/bg_purple.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    background-color: #23252b;
}
@font-face {
    font-family: "Quicksand";
    src: local("Quicksand"),
      url("../fonts/Quicksand.ttf") format("truetype");
  }
.app-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    .header-wrapper{
        flex: 0 0 3.75rem;
        min-width: 20rem;
        position: relative;
        .header{
            min-width: 61.25em;
            align-items: stretch;
            background-color: rgba(0, 0, 0, 0.36);
            border-bottom: white solid 2px;
            display: flex;
            height: 3.75rem;
            justify-content: space-between;
            left: 0;
            min-width: 20rem;
            position: fixed;
            right: 0;
            z-index: 100;

            .header-left{
                margin-left: 35px;
                margin-right: 35px ;
                display: flex;
                align-items: center;
                height: 100%;
                transition: all 1s ease;
                flex-direction: column;
                cursor: pointer;
                h4{
                    white-space: nowrap;
                    color: white;
                    font-family: "Quicksand";
                    text-shadow: 1px 1px 2px #23252b;
                    margin: 0;
                    transition: all 1s ease;
                }
                .underline{
                    height: 3px;
                    background-color: #fff;
                    width: 0px;
                    transition: width 2s ease, background-color 2s ease;
                }
            }
            .header-left:hover{
                h4{
                    color: #9ee6fe;
                    transition: all 1s ease;
                }
                .underline{
                    width: 100%;
                    background-color: #9ee6fe;
                    transition: width 2s ease, background-color 2s ease;
                }
                transform: scale(1.2);
                transition: all 1s ease;
            }
            .header-right{
                display: flex;
                margin-right: 45px;
                align-items: center;
                justify-content: center;
                height: 100%;
                .menu-button{
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    .menu-button-bar{
                        height: 3px;
                        width: 25px;
                        background-color: white;
                        margin-top: 2.5px;
                        margin-bottom: 2.5px;
                        transform: rotateZ(0deg);
                        transition: background-color 1s ease, transform .5s ease;
                    }
                    .menu-button-bar.element1.open{
                        transition: transform 1s ease;
                        transform: rotateZ(45deg) translateY(11px);
                    }
                    .menu-button-bar.element1.close{
                        transition: transform 1s ease;
                        transform: rotateZ(0deg);
                    }
                    .menu-button-bar.element2.open{
                        transition: opacity .5s ease;
                        opacity: 0;
                    }
                    .menu-button-bar.element2.close{
                        transition: opacity .5s ease;
                        opacity: 1;
                    }
                    .menu-button-bar.element3.open{
                        transition: transform 1s ease;
                        transform: rotateZ(-45deg) translateY(-11px);
                    }
                    .menu-button-bar.element3.close{
                        transition: transform 1s ease;
                        transform: rotateZ(0deg);
                    }
                }
                .menu-button:hover{
                    .menu-button-bar{
                        background-color: #9ee6fe;
                        transition: background-color 1s ease;
                    }
                    transform: scale(1.05);
                    transition: transform .5s ease;
                }
                .menu-wrapper{
                    position: fixed;
                    top: 3.85rem;
                    width: 400px;
                    right: -50px;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.695);
                    visibility: hidden;
                    .item-wrapper{
                        margin: 50px;
                        width: 100%;
                        .menu-item{
                            margin-top: 65px;
                            margin-bottom: 65px;
                            cursor: pointer;
                            opacity: 0;
                            position: relative;
                            left: 50px;
                            transition: opacity 1s ease, transform .8s ease;
                            h4{
                                color: #fff;
                                font-family: "Quicksand";
                                
                                margin: 0;
                            }
                            .underline{
                                height: 3px;
                                background-color: #fff;
                                width: 0px;
                                transition: width 1s ease, background-color 1s ease;
                            }
                        }
                        .menu-item:hover{
                            h4{
                                transform: scale(1.1) translateX(15px);
                                transition: transform .5s ease;
                                color: #9ee6fe;
                            }
                            .underline{
                                width: 50%;
                                background-color: #9ee6fe;
                                transition: width 1s ease, background-color 1s ease;
                            }
                        }
                    }
                }
                .menu-wrapper.open{
                    visibility: visible;
                    transform: translateX(-50px);
                    opacity: 1;
                    transition: opacity 1s ease, transform .8s ease;
                    .menu-item.home.open{
                        opacity: 1;
                        transform: translateX(-50px);
                        transition: opacity 1s ease, transform .8s ease;
                        transition-delay: 0.5s;
                    }
                    .menu-item.about.open{
                        opacity: 1;
                        transform: translateX(-50px);
                        transition: opacity 1s ease, transform .8s ease;
                        transition-delay: 0.6s;
                    }
                    .menu-item.port.open{
                        opacity: 1;
                        transform: translateX(-50px);
                        transition: opacity 1s ease, transform .8s ease;
                        transition-delay: 0.7s;
                    }
                    .menu-item.contact.open{
                        opacity: 1;
                        transform: translateX(-50px);
                        transition: opacity 1s ease, transform .8s ease;
                        transition-delay: 0.8s;
                    }
                }
                .menu-wrapper.close{
                    opacity: 0;
                    transform: translateX(50px);
                    transition: opacity 1s ease, transform .8s ease, visibility 1s;
                }
            }
        }
    }
    .body-wrapper{
        z-index: 97;
        .body-overlay{
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 98;
            visibility: hidden;
        }
        .body-overlay.open{
            visibility: visible;
            background-color: #23252bcc;
            opacity: 0.4;
            filter: brightness(0.4);
        }
        .home-wrapper{
            width: 100%;
            height: 690px;
            overflow: hidden;
            user-select: none;
            .stars{
                background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
                background-repeat: repeat;
                background-size: contain;
                background-position: left top;
                width: 100%;
                height: 100%;
                animation: stars 70s linear infinite;
                position: relative;
                .shifting-stars .star{
                    position: absolute;
                    border-radius: 100%;
                    background-color: #fff;
                    width: 3px;
                    height: 3px;
                    opacity: 0.3;
                }
                .shifting-stars .star:nth-child(1){
                    top: 80%;
                    left: 25%;
                    animation: glow-star 2s infinite ease-in-out alternate 1s;
                }
                .shifting-stars .star:nth-child(2){
                    top: 25%;
                    left: 25%;
                    animation: glow-star 2s infinite ease-in-out alternate 3s;
                }
                .shifting-stars .star:nth-child(2){
                    top: 20%;
                    left: 40%;
                    animation: glow-star 7s infinite ease-in-out alternate 3s;
                }
                .shifting-stars .star:nth-child(3){
                    top: 25%;
                    left: 25%;
                    animation: glow-star 2s infinite ease-in-out alternate 5s;
                }
                .shifting-stars .star:nth-child(4){
                    top: 75%;
                    left: 80%;
                    animation: glow-star 4s infinite ease-in-out alternate 7s;
                }
                .shifting-stars .star:nth-child(5){
                    top: 90%;
                    left: 50%;
                    animation: glow-star 2s infinite ease-in-out alternate 9s;
                }
                .shifting-stars .star:nth-child(6){
                    top: 40%;
                    left: 45%;
                    animation: glow-star 3s infinite ease-in-out alternate 11s;
                }
                .shifting-stars .star:nth-child(7){
                    top: 45%;
                    left: 60%;
                    animation: glow-star 2s infinite ease-in-out alternate 13s;
                }
                .shifting-stars .star:nth-child(8){
                    top: 25%;
                    left: 70%;
                    animation: glow-star 5s infinite ease-in-out alternate 15s;
                }
                @keyframes glow-star {
                    40%{
                        opacity: 1;
                        transform: scale(1.2);
                    }
                    100%{
                        opacity: 0.3;
                        transform: scale(1);
                    }
                }
            }
            @keyframes stars {
                0%{
                    transform: rotateZ(0deg);
                }
                50%{
                    transform: rotateZ(25deg);   
                }
                100%{
                    transform: rotateZ(0deg); 
                }
            }
            .earth-moon{
                position: absolute;
                top: 35%;
                left: 25%;
                .earth-image{
                    position: relative;
                    top: -50px;
                    left: 50px;
                    animation: earth 60s linear infinite;
                    cursor: pointer;
                }
                .moon-image{
                    position: absolute;
                    animation-name: moon;
                    animation-duration: 10s;
                    animation: moon 60s linear infinite;
                }
                @keyframes earth {
                    from{
                        transform: rotateZ(0deg);
                    }
                    to{
                        transform: rotateZ(360deg);
                    }
                }
                @keyframes moon {
                    0%{
                        transform-origin: center center;
                        transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
                    }
                    100%{
                        transform-origin: center center;
                        transform: translate(-50%, -50%) rotate(360deg) translateX(150px) rotate(-360deg);
                    }
                }
                .home-text{
                    color: #fff;
                    user-select: none;
                    font-family: "Quicksand";
                    position: relative;
                    transform: translate(50px, -60px);
                    opacity: 0;
                    transition: opacity .5s ease;
                }
                .home-text.shown{
                    opacity: 1;
                    transition: opacity .5s ease;
                }
            }
            .astronaut{
                position: absolute;
                top:75%;
                left:70%;
                animation: astronaut 40s linear infinite;
                .astronaut-image{
                    cursor: pointer;
                }
                .astronaut-text{
                    color: #fff;
                    font-family: "Quicksand";
                    position: absolute;
                    transform: translate(-0px, -250px);
                    opacity: 0;
                    transition: opacity .5s ease;
                }
                .astronaut-text.shown{
                    opacity: 1;
                    transition: opacity .5s ease;
                }
            }
            @keyframes astronaut {
                0%{
                    transform: translate(-50%, -50%) rotate(0deg) translateX(0px) translateY(0px);
                }
                50%{
                    transform: translate(-50%, -50%) rotate(-45deg) translateX(150px) translateY(-150px);
                }
                100%{
                    transform: translate(-50%, -50%) rotate(0deg) translateX(0px) translateY(0px);
                }
            }
        }
        .section-divider{
            height: 60px;
            width: 100%;
        }
        .about-section{
            width: 100%;
            display: flex;
            justify-content: center;
            .about-wrapper{
                width: 90%;
                background-color: #0000005b;
                border-radius: 5px;
                margin: 5%;
                opacity: 1;
                display: flex;
                flex-direction: column;
                opacity: 0;
                transition: opacity 1s ease;
                .card-area{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .card-wrapper{
                        width: 80%;
                        margin-top: 50px;
                        margin-bottom: 50px;
                        display: grid;
                        grid-template-columns: repeat(4, 22%);
                        grid-template-rows: 40%;
                        grid-column-gap: 3%;
                        grid-row-gap: 0;
                        .card-left{
                            grid-row: 1;
                            grid-column-start: span 2;
                            min-height: 300px;
                            max-height: fit-content;
                            background-color: #fff;
                            opacity: 0;
                            transform: translateX(-100px);
                            border-radius: 5px;
                        }
                        .card-right{
                            grid-column: 3/5;
                            grid-row: 2;
                            min-height: 300px;
                            max-height: fit-content;
                            background-color: #fff;
                            opacity: 0;
                            transform: translateX(100px);
                            border-radius: 5px;
                        }
                    }
                }
                .about-title-wrapper{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: 50px;
                    .about-title{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h4{
                            margin: 0;
                            color: #fff;
                            font-family: "Quicksand";
                            opacity: 0;
                        }
                        .underline{
                            height: 3px;
                            background-color: #fff;
                            width: 0px;
                            visibility: hidden;
                            transform: translateX( -5%);
                        }
                    }
                }
            }
        }
        .about-wrapper.visible{
            opacity: 1;
            transition: opacity 1s ease .2s;
            .card-area{
                .card-wrapper{
                    .card-left{
                        transition: opacity 1s ease, transform .8s ease .3s;
                        opacity: 1;
                        transform: translateX(0px);
                    }
                    .card-right{
                        transition: opacity 1s ease, transform .8s ease .5s;
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }
            }
            .about-title-wrapper{
                .about-title{
                    h4{
                        transition: opacity 1s ease, color 2s ease, transform 2s ease .4s;
                        transform: scale(1.1);
                        color:#9ee6fe;
                        opacity: 1;
                    }
                    .underline{
                        height: 3px;
                        background-color: #9ee6fe;
                        width: 110%;
                        visibility: visible;
                        transition: width 2s ease 1s, background-color 2s ease;
                    }
                }
            }
        }
    }
}